footer {
  margin-top: 50px;
  padding: 20px 0;
  background: $primary;
  
  @include flex(0, space-evenly, center);
  flex-wrap: wrap;

  ul {
    @include flex(0, space-between, 0);
    list-style: none;
    align-self: center;
  }

  // .names {    
  //    a {
  //   }
  // }
}

a {
  padding: 20px 20px;
  font-size: 4rem;
  color: $tertiary;
  text-decoration: none;
}

.names {
  padding-top: 5px;
  a {
    font-size: 3rem;

    &:hover,
    &:focus {
      color: $quaternary;
    }
  }
}

.github:hover {
  color: #D64C31;
}

.twitter:hover {
  color: #1dcaff;
}

.linkedin:hover {
  color: #0072b1;
}