.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

// Resetting Default Styling
body {
  background: $tertiary;
  overflow-x: hidden;
}

body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}



