// Loading Screen
.loadingScreen {
  margin: 300px 0 1000px 0;
  border: 16px solid #cad1d0;
  border-top: 16px solid #8cb66b;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); 
  }
}

// Loading Animation
.hiddenOnLoad {
  visibility: hidden;
  position: absolute;
}

.flexContainer {
  @include flex(row, center, center);
}

// Grid
.cards {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-auto-rows: 400px;
  gap: 40px;
  list-style: none;
  margin: 0 auto;
}

// Card 'li'
.cardContainer {
  width: 100%;
  height: 100%;
  
  position: relative;
  
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
  
  &:focus {
    transform: rotateY(180deg);
  }
}

// Front and Back Cards
.frontCard, .backCard {
  width: 100%;
  height: 100%;

  position: absolute;

  border: 5px solid $quaternary;
  border-radius: 20px;

  backface-visibility: hidden;
}

// Front Card
.frontImageContainer {
  height: 80%;

  img {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;    
  }
}

.frontNameContainer {
  border-top: 2px solid $quaternary;
  height: 20%;
  overflow: hidden;
  padding: 10px;
  @include flex(column, center, 0);
  
  h2 {
    background: $tertiary;
  }
}

// Back Card
.backCard {
  padding: 5px;
  background: $tertiary;

  transform: rotateY(180deg);

  @include flex(column, center, 0);

  p, h3 {
  padding-bottom: 30px;
  }

  p:nth-of-type(3) {
    padding-bottom: 0;
  }

  span {
    padding-bottom: 5px;
  }
  img {
    opacity: 0.8;
    transition: all 0.5s ease;

    &:hover,
    &:focus {
      opacity: 1;
      transition: 0.5s ease;
    }
  }
}

// Images
img {
  width: 100%;
  height: 100%;
  
  display: block;  
  object-fit: cover;
}
