// Grid Styling
ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  grid-template-rows: minmax(0, 1fr) repeat(5, 325px);
  list-style: none;
  margin: 0 auto;
  
  li {
    border: 2px solid palevioletred;
    
  }
}


img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.nameContainer {
  border-top: 2px solid palevioletred;
  height: 20%;
  overflow: hidden;
  padding: 5px;
  @include flex(column, center, 0);
}

.imageContainer {
  height: 80%;
}
