
// Lets have the grid columns change as the screen gets smaller so instead of our boxes squishing they # of columns is reduced. We can also re-size the boxes as we see fit.

// FIRST BREAK POINT - 4 GRIDS
@media (max-width: 1230px) {
  .cards {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

// SECOND BREAK POINT - 3 GRIDS
@media (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  footer {
    .names a {
      font-size: 2.3rem;
    }
  }
}

// THIRD BREAK POINT - 2 GRIDS
@media (max-width: 730px) {
  .cards {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

// Tablets / Small Screens
@media (max-width: 681px) {
  nav {
    padding: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;

    form {
      margin: 0 auto;
      padding-right: 0;
    }

    h1 {
      padding: 0 0 10px 0;
    }
  }
  .searchError {
    padding: 10px 0 0 0;
  }

  .subTitle {
    padding: 0 0 5px 0;
  }
  // End of Query
}

// Small Tablets / Mobile Phones
@media (max-width: 480px) {
  
  // Single Column Grid
  .cards {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }

  h1 {
    font-size: 5rem;
    padding-bottom: 7px;

    i {
      font-size: 3.5rem;
    }
  }

  .subTitle {
    font-size: 2rem;
  }

  form {
    height: 45px;
  }

  .backCard {
    padding: 20px;
    text-align: center;

    h3 span {
      font-size: 2.75rem;
    }

    h3 {
      font-size: 2.5rem;
    }

    p span {
      font-size: 2.25rem;
    }

    p {
      font-size: 2rem;
    }

    p, h3 {
      padding-bottom: 30px;
    }

    p:nth-of-type(3) {
      padding-bottom: 0;
    }

    span {
      padding-bottom: 5px;
    }
  }

  footer {
    .names {
      padding: 0;

      a {
        font-size: 1.8rem;
      }
    }
  
    a {
      font-size: 2.5rem;
      padding: 20px 10px;
    }
  }
// End of Query
}

// Smallest Size Mobile
@media (max-width: 340px) {
  .cards {
    grid-template-columns: repeat(1, minmax(270px, 1fr));
  }
}