
// Lets have the grid columns change as the screen gets smaller so instead of our boxes squishing they # of columns is reduced. We can also re-size the boxes as we see fit.


//FIRST BREAK POINT - 4 GRIDS
@media (max-width: 1288px) {
  body {
    border: 3px solid yellow;
  }

  ul li:nth-child(4n) .overlayContainer {
    right: 10%;
  }
  
  ul li:nth-child(4n - 3) .overlayContainer {
    left: 10%;
  }

}

//SECOND BREAK POINT - 3 GRIDS
@media (max-width: 1029px) {
  body {
    border: 3px solid orangered;
  }

  ul li:nth-child(3n) .overlayContainer {
    right: 10%;
  }
  
  ul li:nth-child(3n - 2) .overlayContainer {
    left: 10%;
  }

}

//THIRD BREAK POINT - 2 GRIDS
@media (max-width: 761px) {
  body {
    border: 5px solid blue;
  }

  ul li:nth-child(2n) .overlayContainer {
    right: 10%;
  }
  
  ul li:first-child .overlayContainer {
    left: 10%;
  }

  //overlay container
  .overlayContainer {
    border: 3px solid red;
  }
  //footer
  footer .names {
    font-size: 1.5rem;
  }
  footer a {
    font-size: 2rem;
  }
}

//BREAK POINT 3.5 - MAKE OVERLAY SMALLER TO MATCH BROWSER SIZE
@media (max-width: 688px) {
  .overlayContainer .overlayImageContainer,
  .overlayContainer img {
    display: none;
  }
}

//FOURTH BREAKT POINT - 1 GRID 
@media (max-width: 498px) {
  body {
    border: 3px solid green;
  }

  // ul li:nth-child(2n) .overlayContainer {
  //   right: 10px;
  // }
  
  ul li:first-child .overlayContainer {
    left: 50%;
  }
}

//MOBILE 
@media (max-width: 380px) {
  .overlayContainer {
    @include flex(0, 0, 0);
    flex-wrap: wrap;

    img {
      display: none;
    }
  }
}
