nav {
  padding: 40px;

  @include flex(0, space-between, center);
  flex-wrap: wrap;

  a {
    padding: 0;
    margin: 0;
  }
}

// Title / Subtitle
h1 {
  padding: 0 0 10px 20px;

  i {
    padding-bottom: 5px;
    font-size: 4.5rem;
  }
}

.subTitle {
  padding-left: 16px;
}


// Search Bar
.searchError {
  padding: 10px 20px 0 0;
  color: $error;
}

.formContainer {
  @include flex(column, 0, 0);
}

form {
  height: 50px;
  padding-right: 20px;

  @include flex(row, 0, 0);
  
  input {
    display: block;
    padding: 15px 20px 15px 15px;
    
    font-size: 2rem;
    
    border: 3px solid $primary;
    border-radius: 5px 0 0 5px;
    color: $black;
    
    &::placeholder {
      font-family: $base;
      color: $primary;
      font-size: inherit;
    }
  }

  input,
  .searchButton {
    height: 100%;
  }
  
  .searchButton {
    padding: 10px 5px;
    margin: 0;
    
    text-align: center;
    font-size: 2rem;
    
    background: $primary;
    color: $white;
    border: none;
    border-radius: 0 10px 10px 0;
    
    &:hover,
    &:focus {
      color: $secondary;
    }
  }
}

// Error Message Styles
.errorToggle {
  visibility: hidden;
}

.errorMessage {
  align-self: center;
}