h1 {
  font-family: $header;
  color: $primary;
  font-size: 6rem;
}

.subTitle {
  color: $secondary;
}

h2 {
  font-size: 2.75rem;
  font-weight: 300;
  text-align: center;
}

h2,
p,
h3,
.names {
  text-transform: capitalize;
  font-family: $base;
}

h2,
p,
h3 {
  color: $black;
}

p {
  font-size: 1.8rem;
}

h3 span,
.names {
  font-size: 2.3rem;
}

h3,
.subTitle {
  font-size: 2.25rem;
}

h3 span,
p span {
  display: block;
  color: rgb(19, 118, 19);
}

p span {
  font-size: 2.1rem;
}

.names {
  color: $white;
}




