h1 {
  font-family: $header;
  color: $primary;
  font-size: 6rem;
}

h2 {
  font-family: $base;
  font-size: 2.75rem;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
  color: $black;
}

h3 {
  font-family: $base;
  color: $black;
}

p {
  font-family: $base;
  color: $black;

}