// Fonts
$header: 'Lobster Two', cursive;
$base: 'Roboto', sans-serif;
$other: 'MuseoModerno', cursive;

// Colours
$primary: #8cb66b;
$tertiary: #ecf4f3; 
$quaternary: #4b5d67; 
$black: #000;
$white: #FFF;

