html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "Lobster Two", cursive;
  color: #8cb66b;
  font-size: 6rem;
}

.subTitle {
  color: #63814c;
}

h2 {
  font-size: 2.75rem;
  font-weight: 300;
  text-align: center;
}

h2,
h3,
p,
.names {
  font-family: "Roboto", sans-serif;
}

h2,
h3,
.names {
  text-transform: capitalize;
}

h2,
p,
h3 {
  color: #000;
}

p {
  font-size: 1.8rem;
}

h3 span,
.names {
  font-size: 2.3rem;
}

h3,
.subTitle {
  font-size: 2.25rem;
}

h3 span,
p span {
  display: block;
  color: #137613;
}

p span {
  font-size: 2.1rem;
}

.names {
  color: #FFF;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
  background: #ecf4f3;
  overflow-x: hidden;
}

body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

nav {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav a {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

nav a:focus {
  outline: 1px dotted #000;
}

h1 {
  padding: 0 0 10px 20px;
}

h1 i {
  padding-bottom: 5px;
  font-size: 4.5rem;
}

.subTitle {
  padding-left: 16px;
}

.searchError {
  padding: 10px 20px 0 0;
  color: #a05555;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

form {
  height: 50px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

form input {
  display: block;
  padding: 15px 20px 15px 15px;
  font-size: 2rem;
  border: 3px solid #8cb66b;
  border-radius: 5px 0 0 5px;
  color: #000;
}

form input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #8cb66b;
  font-size: inherit;
}

form input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #8cb66b;
  font-size: inherit;
}

form input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #8cb66b;
  font-size: inherit;
}

form input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #8cb66b;
  font-size: inherit;
}

form input,
form .searchButton {
  height: 100%;
}

form .searchButton {
  padding: 10px 5px;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  background: #8cb66b;
  color: #FFF;
  border: none;
  border-radius: 0 10px 10px 0;
}

form .searchButton:hover, form .searchButton:focus {
  color: #63814c;
}

.errorToggle {
  visibility: hidden;
}

.errorMessage {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.loadingScreen {
  margin: 300px 0 1000px 0;
  border: 16px solid #cad1d0;
  border-top: 16px solid #8cb66b;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hiddenOnLoad {
  visibility: hidden;
  position: absolute;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[5];
      grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-auto-rows: 400px;
  gap: 40px;
  list-style: none;
  margin: 0 auto;
}

.cardContainer {
  position: relative;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.toggleFlip:focus {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardContainer,
.frontCard,
.backCard,
img {
  width: 100%;
  height: 100%;
}

.frontCard, .backCard {
  position: absolute;
  border: 5px solid #4b5d67;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.frontImageContainer {
  height: 80%;
}

.frontImageContainer img {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.frontNameContainer {
  height: 20%;
  padding: 10px;
  overflow: hidden;
  border-top: 2px solid #4b5d67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.frontNameContainer h2,
.backCard {
  background: #ecf4f3;
}

.backCard {
  padding: 5px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.backCard p, .backCard h3 {
  padding-bottom: 30px;
}

.backCard p:nth-of-type(3) {
  padding-bottom: 0;
}

.backCard span {
  padding-bottom: 5px;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  margin-top: 50px;
  padding: 20px 0;
  background: #8cb66b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  list-style: none;
  -ms-flex-item-align: center;
      align-self: center;
}

a {
  padding: 20px 20px;
  font-size: 4rem;
  color: #ecf4f3;
  text-decoration: none;
}

.names {
  padding-top: 5px;
}

.names a {
  font-size: 3rem;
}

.names a:hover, .names a:focus {
  color: #4b5d67;
}

.github:hover {
  color: #D64C31;
}

.twitter:hover {
  color: #1dcaff;
}

.linkedin:hover {
  color: #0072b1;
}

@media (max-width: 1230px) {
  .cards {
    -ms-grid-columns: (minmax(200px, 1fr))[4];
        grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

@media (max-width: 1000px) {
  .cards {
    -ms-grid-columns: (minmax(200px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  footer .names a {
    font-size: 2.3rem;
  }
}

@media (max-width: 730px) {
  .cards {
    -ms-grid-columns: (minmax(200px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 681px) {
  nav {
    padding: 20px;
    display: block;
    text-align: center;
  }
  nav form {
    padding-right: 0;
  }
  nav h1 {
    padding: 0 0 10px 0;
  }
  nav,
  nav form {
    margin: 0 auto;
  }
  .searchError {
    padding: 10px 0 0 0;
  }
  .subTitle {
    padding: 0 0 5px 0;
  }
}

@media (max-width: 480px) {
  .cards {
    -ms-grid-columns: (minmax(300px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  h1 {
    padding-bottom: 7px;
    font-size: 5rem;
  }
  h1 i {
    font-size: 3.5rem;
  }
  .subTitle {
    font-size: 2rem;
  }
  form {
    height: 45px;
  }
  .backCard {
    padding: 20px;
    text-align: center;
  }
  .backCard h3 span {
    font-size: 2.75rem;
  }
  .backCard h3 {
    font-size: 2.5rem;
  }
  .backCard p span {
    font-size: 2.25rem;
  }
  .backCard p {
    font-size: 2rem;
  }
  .backCard p, .backCard h3 {
    padding-bottom: 30px;
  }
  .backCard p:nth-of-type(3) {
    padding-bottom: 0;
  }
  .backCard span {
    padding-bottom: 5px;
  }
  footer .names {
    padding: 0;
  }
  footer .names a {
    font-size: 1.8rem;
  }
  footer a {
    padding: 20px 10px;
    font-size: 2.5rem;
  }
}

@media (max-width: 340px) {
  .cards {
    -ms-grid-columns: (minmax(270px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(270px, 1fr));
  }
}
