html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "Lobster Two", cursive;
  color: #8cb66b;
  font-size: 6rem;
}

h2 {
  font-size: 2.75rem;
  font-weight: 300;
  text-align: center;
}

h2,
p,
h3 {
  text-transform: capitalize;
  color: #000;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 2rem;
}

h3 span {
  font-size: 2.9rem;
}

h3 {
  font-size: 2.5rem;
}

h3 span,
p span {
  display: block;
  color: #137613;
}

p span {
  font-size: 2.5rem;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
  background: #ecf4f3;
  overflow-x: hidden;
}

body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

nav {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1 {
  padding-left: 20px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  padding-right: 20px;
  height: 50px;
}

form input {
  display: block;
  height: 100%;
  padding: 15px 20px 15px 15px;
  font-size: 2rem;
  border: 3px solid #8cb66b;
  border-radius: 5px 0 0 5px;
  color: #000;
}

form input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #8cb66b;
  font-size: 2rem;
}

form input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #8cb66b;
  font-size: 2rem;
}

form input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #8cb66b;
  font-size: 2rem;
}

form input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #8cb66b;
  font-size: 2rem;
}

form .searchButton {
  height: 100%;
  margin: 0;
  padding: 10px 5px;
  text-align: center;
  font-size: 2rem;
  background: #8cb66b;
  color: #FFF;
  border: none;
  border-radius: 0 10px 10px 0;
}

.loadingScreen {
  margin-top: 300px;
  border: 16px solid #cad1d0;
  border-top: 16px solid #8cb66b;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hiddenOnLoad {
  visibility: hidden;
  position: absolute;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardFront {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 400px;
  gap: 40px;
  list-style: none;
  margin: 0 auto;
}

.cardFront li {
  border: 5px solid #4b5d67;
  border-radius: 20px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.frontImageContainer {
  height: 80%;
}

.frontImageContainer img {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.frontNameContainer {
  border-top: 2px solid #4b5d67;
  height: 20%;
  overflow: hidden;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.frontNameContainer h2 {
  background: #ecf4f3;
}

.overlayContainer {
  width: 550px;
  height: 450px;
  padding: 20px;
  background: #ecf4f3;
  border: 3px solid #4b5d67;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  top: -50px;
  right: -175px;
}

.overlayContainer .overlayImageContainer {
  width: 50%;
  height: 100%;
}

.overlayContainer .overlayTextContainer {
  height: 100%;
  width: 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.overlayContainer .overlayTextContainer p, .overlayContainer .overlayTextContainer h3 {
  padding-bottom: 30px;
}

.overlayContainer .overlayTextContainer p:nth-of-type(3) {
  padding-bottom: 0;
}

.overlayContainer .overlayTextContainer span {
  padding-bottom: 5px;
}

ul li:nth-child(5n) .overlayContainer {
  right: -5px;
}

ul li:nth-child(5n - 4) .overlayContainer {
  right: -347px;
}

span {
  font-size: 4rem;
}

.hide {
  display: none;
}

.errorMessage {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer {
  margin-top: 50px;
  padding: 20px 0;
  background: #8cb66b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 15rem;
  margin-top: 50px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  list-style: none;
}

footer .names {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  color: #FFF;
}

a {
  padding: 20px 50px;
  font-size: 4rem;
  color: #ecf4f3;
}

a:hover {
  color: #4b5d67;
}

@media (max-width: 1288px) {
  body {
    border: 3px solid yellow;
  }
  ul li:nth-child(4n) .overlayContainer {
    right: -5px;
  }
  ul li:nth-child(4n - 3) .overlayContainer {
    right: -347px;
  }
}

@media (max-width: 1029px) {
  body {
    border: 3px solid orangered;
  }
  ul li:nth-child(3n) .overlayContainer {
    right: -5px;
  }
  ul li:nth-child(3n - 2) .overlayContainer {
    right: -347px;
  }
}

@media (max-width: 761px) {
  body {
    border: 5px solid blue;
  }
  ul li:nth-child(2n) .overlayContainer {
    right: 10px;
  }
  ul li:first-child .overlayContainer {
    right: -255px;
  }
  .overlayContainer {
    border: 3px solid red;
  }
  footer .names {
    font-size: 1.5rem;
  }
  footer a {
    font-size: 2rem;
  }
}

@media (max-width: 498px) {
  body {
    border: 3px solid green;
  }
  ul li:first-child .overlayContainer {
    left: 50%;
  }
}

@media (max-width: 380px) {
  .overlayContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: 0;
            flex-direction: 0;
    -webkit-box-pack: 0;
        -ms-flex-pack: 0;
            justify-content: 0;
    -webkit-box-align: 0;
        -ms-flex-align: 0;
            align-items: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .overlayContainer img {
    display: none;
  }
}
